@model Test.ViewModels.TeacherViewModel
<title>@ViewBag.Title</title>

<div class="col-12">
    <center><h1>Информация о преподавателе</h1></center>
</div>

<div class=" col-2 mt-3" style="float: left">
    @if (Model.Img != null)
    {<img style="float: left; vertical-align: top; margin: 4px 7px 2px 4px;" src="@Model.Img" alt="@Model.Name" width="150" height="200" />}
    else
    {<img style="float: left; margin: 4px 7px 2px 4px;" src="/img/avatar.png" alt="@Model.Name" width="150" height="200" />}
</div>

<div class="col-9 mt-3" style="float: right">
    <p style="font-size:25px"><strong>@Model.Name</strong></p>

    <p style="font-size:22px">Должность: @Model.Position</p>

    @if (Model.PhoneNumber != null)
    {<p style="font-size:22px">Номер телефона: @Model.PhoneNumber</p>}
    else
    {<p style="font-size:22px">Номер телефона: - </p>}

    <div class="row col-lg-12">
        @foreach (var group in Model.Groups)
        {<p align="justify" style="font-size:22px">Куратор группы: <a asp-action="DetailsGroup" asp-controller="AcademicGroup" asp-route-id="@group.Id"> @group.Name (@group.ShortName)</a></p>}

    </div>
    <p>
        <a class="btn btn-outline-success btn-lg" asp-action="EditTeacher" asp-controller="Teacher" asp-route-id="@Model.Id">Изменить</a>
        <a class="btn btn-outline-danger btn-lg" asp-action="DeleteTeacher" asp-controller="Teacher" asp-route-id="@Model.Id" title="ВНИМАНИЕ!!! Перед удалением не забудьте СМЕНИТЬ кураторов групп при необходимости.">Удалить</a>
        <a class="btn btn-outline-primary btn-lg" href="/Teacher/CreateTeacher">Добавить</a>
    </p>

</div>      